body  {
  background-color: #eee;
  /*padding-top: 70px;*/
}

#floatingTextarea2{
  height: 200px;
}

.content{
  white-space: pre-wrap;

}
.bio{
  white-space: pre-wrap;

}

.h-background-c{
  background-color: #111340;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}