<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title%}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Student Corner</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                {% if current_user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('post') }}">My Posts</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ url_for('profile') }}">My Account</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('create_account') }}">Create Account</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>             
        </nav>

        {% with messages = get_flashed_messages( with_categories = true) %}
        {% if messages %}

            <div class="container">
                <div class="row justify-content-md-center">
                    <ul class="flashes col-md-6">
                        {% for category, message in messages %}
                        {% if category == "error" %}
                        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                            <strong>{{ message }}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% else %}
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                            <strong>{{ message }}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        {% endif %}
        {% endwith %}
    
        <header>
            {% block header %}{% endblock %}
        </header>

        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>








        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>