{% extends "layout.html" %}
{% set active_page = "index" %}
{% block meta %}
        <meta name="author" content= "{{ '%s %s' %(author.firstname, author.lastname) }}">
        {% if author.bio %}
        <meta name="description" content="{{ author.bio }}">
        {% endif %}
        <meta name="keywords" content="{% for post in author_posts.items %}{{ post.subject }}, {% endfor %}">
{% endblock %}


{% block title %} {{author.firstname}} {{author.lastname}} {% endblock %}


{% block header %}
<div class="container col-md-7 col-11 mt-3 {% if author.bio %}rounded col-11 shadow-sm bg-white border{% endif %}">
    <div class="row justify-content-center"> 
        <h5 class="fw-bold">{{ ("%s %s" %(author.firstname, author.lastname))|title }}
            <span class="badge bg-secondary rounded-pill">{{ author_posts.total }} {% if author_posts.total==1 %} post {% else %} posts{% endif %} </span>
        </h5>
        {% if author.bio %}
            <strong>About {{ (author.firstname) }}</strong>
            <p class="bio">{{ author.bio }}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}

<div class="container col-md-7 {% if author.bio %}mt-3{% endif %}">
        {% for post in author_posts.items %}
        <div class="row justify-content-center">
          <div class="row g-0 card-bg border rounded overflow-hidden mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">{{ post.subject |title }}</strong>
                <h3 class="mb-0">
                    <a href="{{ url_for('views.read_more', id = post.id) }}" class="text-decoration-none link-dark">
                        {{ post.title |title }}
                    </a>
                </h3>
                <div class="mb-1 text-muted">{{ post.date_posted.strftime("%d %B %Y") }}</div>
                {% if post.content |wordcount > 50 %}
                    <p class="card-text mb-auto content">{{ post.content |urlize|truncate(400) }}</p>
                    <a href="{{ url_for('views.read_more', id = post.id) }}" class="text-decoration-none">
                        Continue reading
                    </a>
                {% else %}
                    <p class="card-text mb-auto content">{{ post.content |urlize }}</p>
                {% endif %} 
            </div>
          </div>
        </div>
    {% endfor %}
</div>

    {% if author_posts.total > 5 %}
        <nav aria-label="pagination for author's posts">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item {% if not author_posts.has_prev %} disabled {% endif %} ">
                    <a class="page-link" href="{{ url_for('views.author', id=author.id, page=author_posts.prev_num) }}">Previous</a>
                </li>
            {%- for page in author_posts.iter_pages(left_edge=2, left_current=1, right_current=2, right_edge=2) %}
                {% if page %}
                    {% if page != author_posts.page %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('views.author', id=author.id, page=page) }}"> {{ page }} </a></li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link"> {{ page }} </span>
                        </li>
                    {% endif %}
                {% else %}
                    <span>…</span>
                {% endif %}
            {%- endfor %}
                    <li class="page-item {% if not author_posts.has_next %} disabled {% endif %} ">
                        <a class="page-link" href="{{ url_for('views.author', id=author.id, page=author_posts.next_num) }}">Next</a>
                    </li>
            </ul>      
        </nav>
    {% endif %}
{% endblock %}



