{% extends "layout.html" %}

{% block title %} {{author.firstname}} {{author.lastname}} {% endblock %}


{% block header %}
{% if author.bio %}
    <div class="container col-md-7 mt-3 rounded shadow bg-white border">
        <div class="row justify-content-center"> 
            <h5>{{author.firstname}} {{author.lastname}}</h5>
            <p> {{author.bio}} </p>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block content %}
<br>
<div class="container col-md-7">
    <div class="row justify-content-center">
        <h3>Posts Made By {{author.firstname}} </h3>
    </div>
</div>
    {% for post in author_posts %}
    <div class="container col-md-7 bg-white rounded shadow border mb-3">
        <div class="row justify-content-center">
            <article class="blog-post by-3">
                <h5 class="blog-post-title">{{ post.title }}</h5>
                <h6 class="blog-post-title">{{ post.subject }}</h6>
                <p class="blog-post-meta">{{ post.date_posted.strftime("%d %B %Y") }} </p>
                <hr>
                {% if post.content |length > 400 %}
                <p>{{ post.content |truncate(400) }} <a href="{{ url_for('views.read_more', id = post.id) }}">read more</a></p>
                {% else %}
                <p>{{ post.content }}</p>
                {% endif %}
            </article>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}


