{% from "pagination.html" import render_pagination with context %}
{% extends "layout.html" %}

{% set active_page = "index" %}

{% block header %}
{% if current_user.is_authenticated %}
    <div class="d-flex justify-content-center text-white h-background-c col-12">   
        <h1> {% block title %}{{ "Welcome %s %s!"%(current_user.firstname, current_user.lastname) }}{% endblock title %}</h1>
    </div>
{% else %}
    <div class="d-flex justify-content-center text-white h-background-c col-12">   
        <h1>Hello Student</h1>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% for post in pag_posts.items %}
    <div class="container col-md-7 bg-white border rounded shadow my-3">
        <div class="row justify-content-center">
            <article class="blog-post">
                <h4 class="blog-post-title"><a href="{{ url_for('views.read_more', id = post.id) }}" class="text-decoration-none link-dark">{{ post.title |title }}</a></h4>
                <h5 class="blog-post-title">{{ post.subject |title }}</h5>
                <p class="blog-post-meta">{{ post.date_posted.strftime("%d %B %Y") }} by <a href="{{ url_for('views.author', id = post.author.id) }}" class="text-decoration-none link-dark">{{ ("%s %s" %(post.author.firstname, post.author.lastname))|title }}</a></p>
                <hr>
                {% if post.content |wordcount > 50 %}
                <p>{{ post.content |replace("\n", "</br>") |safe |urlize|truncate(400) }} <a href="{{ url_for('views.read_more', id = post.id) }}" class="text-decoration-none">read more</a></p>
                {% else %}
                <p>{{ post.content |replace("\n", "</br>") |safe |urlize }}</p>
                {% endif %}                
            </article>
        </div>
    </div>
{% endfor %}

{{render_pagination(pag_posts, "views.index", name = "pagination for index page" )}}


{% endblock %}


