{% from "app_macros.html" import render_pagination with context %}
{% extends "layout.html" %}

{% set active_page = "index" %}

{% block title %}
{% if current_user.is_authenticated %}
    {{ "Welcome %s %s!"%(current_user.firstname, current_user.lastname) }}
{% else %}
    Student Corner
{% endif %}
{% endblock title %}

{% block header %}
{% if current_user.is_authenticated %}
    <div class="d-flex justify-content-center text-white h-background-c col-12">   
        <h1> {{ "Welcome %s %s!"%(current_user.firstname, current_user.lastname) }}</h1>
    </div>
{% else %}
    <div class="d-flex justify-content-center text-white h-background-c col-12">   
        <h1>Hello Student</h1>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% for post in pag_posts.items %}
    <div class="container col-md-7 mt-3">
        <div class="row justify-content-center">
          <div class="row g-0 border rounded overflow-hidden mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">{{ post.subject |title }}</strong>
                <h3 class="mb-0">
                    <a href="{{ url_for('views.read_more', id = post.id) }}" class="text-decoration-none link-dark">
                        {{ post.title |title }}
                    </a>
                </h3>
                <div class="mb-1 text-muted">{{ post.date_posted.strftime("%d %B %Y") }} by 
                    <a href="{{ url_for('views.author', id = post.author.id) }}" 
                    class="text-decoration-none link-dark">
                    {{ ("%s %s" %(post.author.firstname, post.author.lastname))|title }}
                    </a>
                </div>
                {% if post.content |wordcount > 50 %}
                    <p class="card-text mb-auto content">{{ post.content |urlize|truncate(400) }}</p>
                    <a href="{{ url_for('views.read_more', id = post.id) }}" class="text-decoration-none">
                        Continue reading
                    </a>
                {% else %}
                    <p class="card-text mb-auto content">{{ post.content |urlize }}</p>
                {% endif %} 
            </div>
          </div>
        </div>
    </div>

{% endfor %}

{{render_pagination(pag_posts, "views.index", name = "pagination for index page" )}}


{% endblock %}


