<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='boots_css/bootstrap.min.css') }}" rel="stylesheet" >
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title%}Student Corner{% endblock %}</title>
    </head>
    <body>
        {% include "navbar.html" %}

        <section class="container">
            <header>
                {% block header %}{% endblock %}
            </header>
        
            {% with messages = get_flashed_messages( with_categories = true) %}
                {% if messages %}

                    <div class="container">
                        <div class="row justify-content-md-center">
                            <ul class="flashes col-md-10">
                                {% for category, message in messages %}
                                {% if category == "warning" %}
                                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% elif category == "danger" %}
                                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% elif category == "success" %}
                                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% elif category == "unconfirmed_email" %}
                                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    {{ message }} <a href="{{ url_for('auth.resend_confirmation') }}">Resend</a>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                {% endif %}
            {% endwith %}
    

            {% block content %}{% endblock %}

    </section>






        
        <script src="{{ url_for('static', filename='boots_js/bootstrap.min.js') }}"></script>
    </body>
</html>