<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="website to read, write and share articles with others">
        <meta name="google-site-verification" content="bsp5Bdfuf68IKdnVeAsCXkh9VXyD8LPN0IPyqOW0uIA" />
        <meta name="google-site-verification" content="l-McnRi2xL5OKRphbzQqlDYdG3C6bQWLS_ercVJlmXk" />
        <meta name="google-site-verification" content="Z_vhPYodqZjcsFDSNbzpIrx2lVxVgRDNGNq3CToAHAE" />
        {% block meta %}
        <meta name="keywords" content="Read, Write, Share, Article, Post"> 
        {% endblock %}


        <link href="{{ url_for('static', filename='boots_css/bootstrap.min.css') }}" rel="stylesheet" >
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title -%}Student Corner{%- endblock %}</title>
    </head>
    <body class="d-flex flex-column h-100">
        {% include "navbar.html" -%}

        <section>
            
        {% with messages = get_flashed_messages( with_categories = true) -%}
            {%- if messages %}
            
                    <div class="container mt-3">
                        <div class="row justify-content-md-center">
                            <ul class="flashes col-md-10">
                                {% for category, message in messages %}
                                {% if category == "warning" %}
                                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% elif category == "danger" %}
                                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% elif category == "success" %}
                                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                                    <strong>{{ message }}</strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% elif category == "unconfirmed_email" %}
                                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    {{ message }} <a href="{{ url_for('auth.resend_confirmation') }}" class="text-decoration-none">Resend</a>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif -%}
                                {% endfor -%}
                            </ul>
                        </div>
                    </div>
                    
                {% endif -%}
            {%- endwith %}
            <header>
                {%- block header %}{% endblock -%}
            </header>
    

            {%- block content %}{% endblock -%}

        </section>

        <footer class="footer mt-auto py-3 background">
            <div class="container">
                <span class="text-muted">Developed by 
                    <a href="https://www.linkedin.com/in/mbye-sallah-7b920815a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BwGJpbFduSYuQjBkoqVSg6A%3D%3D" target="_blank" class="text-decoration-none">
                         Mbye Sallah.
                    </a> &copy 2021
                </span>
            </div>
        </footer>

        
        <script src="{{ url_for('static', filename='boots_js/bootstrap.min.js') }}"></script>
    </body>
</html>