
<nav class="navbar navbar-expand-lg sticky-top navbar-dark background">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold h1" href="/">Student Corner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item mx-lg-2">
                    <a class="nav-link fw-bold {% if active_page=='index' %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item me-lg-2">
                    <a class="nav-link fw-bold {% if active_page=='about' %}active{%endif %}" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item me-lg-2">
                    <a class="nav-link fw-bold {% if active_page=='contacts' %}contacts{%endif %}" aria-current="page" href="#" tabindex="-1">Contacts</a>
                </li>
            </ul>
            {% if active_page== "index" or active_page== "author" or active_page== "post" %}
            <form class="col-12 col-lg-6 d-none d-lg-block">
                <input type="search" name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" autocomplete="off" autofocus>
            </form>
            {% endif %}
            <ul class="navbar-nav ms-auto mb-lg-0">
                {% if current_user.is_authenticated %}
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link fw-bold {% if active_page=='post' %}active{%endif %}" aria-current="page" href="{{ url_for('views.post') }}">Your posts</a>
                    </li>
                    <li class="nav-item me-lg-2">
                        <a class="nav-link fw-bold {% if active_page=='profile' %}active{%endif %}" aria-current="page" href="{{ url_for('views.profile') }}">Your profile</a>
                    </li>
                    <li class="nav-item me-lg-2">
                        <a class="nav-link fw-bold" href="{{ url_for('auth.signout') }}">Sign out</a>
                    </li>
                {% else %}

                    <li class="nav-item me-lg-2">
                        <a class="nav-link fw-bold {% if active_page=='signin' %}active{%endif %}" aria-current="page" href="{{ url_for('auth.signin') }}">Sign in</a>
                    </li>
                    <li class="nav-item me-lg-2">
                        <a class="nav-link fw-bold {% if active_page=='signup' %}active{%endif %}" aria-current="page" href="{{ url_for('auth.signup') }}">Sign up</a>
                    </li>
                {% endif %}

            </ul>
            {% if active_page == "index" or active_page=="author" or active_page== "post" %}
            <form class="col-12 d-lg-none">
                <input type="search" name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" autocomplete="off" autofocus>
            </form>
            {% endif %}      
            
        </div>
    </div>             
</nav>
