
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">Student Corner</a>
        <form class="col-6 d-md-none me-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active_page=='index' %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page=='about' %}active{%endif %}" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page=='contacts' %}contacts{%endif %}" aria-current="page" href="#" tabindex="-1">Contacts</a>
                </li>
            </ul>
            <form class="col-12 col-lg-6 d-none d-md-block">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>      
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if active_page=='post' %}active{%endif %}" aria-current="page" href="{{ url_for('views.post') }}">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page=='profile' %}active{%endif %}" aria-current="page" href="{{ url_for('views.profile') }}">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if active_page=='login' %}active{%endif %}" aria-current="page" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page=='create_account' %}active{%endif %}" aria-current="page" href="{{ url_for('auth.create_account') }}">Create Account</a>
                    </li>
                {% endif %}

            </ul>
            
        </div>
    </div>             
</nav>
