{% from "app_macros.html" import render_pagination, input, button, textarea with context %}

{% extends "layout.html" %}
{% set active_page = "profile" %}

{% block title%}Your Profile{% endblock %}

{% block content %}
    <div class="container col-11 col-md-6 rounded shadow-sm mt-3 mb-3 bg-white border">
        <div class="fs-3 me-5">
           <h3 class="fw-bold">{{ "%s %s" %(firstname, lastname) }}</h3>
        </div>
        <p>{{email}}</p>
        
        <p class="fw-bold">Update Profile</p>
        <hr>
        <form method="POST">
            <div class="form-floating mb-3">
                {{ input("email", type="email", value= email, label = "Email Address") }}

            </div>
            <div class="form-floating mb-3">
                {% if bio %}
                    {{ textarea("bio", value = bio , label = "Add Bio") }}
                {% else %}
                    {{ textarea("bio", value = "This is my bio..." , label = "Add Bio") }}
                {% endif %}

            </div>
            <div class="d-flex justify-content-center mb-3">   
                {{ button(label = "Update Profile") }}
            </div>
        </form>
    </div>
{% endblock %}


