{% from "app_macros.html" import input, textarea, button with context %}

{% extends "layout.html" %}

{% block content %}

<div class="container col-md-6 mt-3 rounded shadow bg-white border">
    <form method="POST">
        <h1 class="h3 fw-normal my-3">Update Post</h1>
        <hr>
        <div class="form-floating mb-3">
            {{ input("subject", value = to_update_post.subject, label = "Subject") }}

        </div>
        <div class="form-floating mb-3">
            {{ input("title", value= to_update_post.title, label = "Title") }}

        </div>
        <div class="form-floating mb-3">
            {{ textarea("content", value= to_update_post.content, label = "Update Post") }}

        </div>
        <div class="d-flex justify-content-center mb-3">   
            {{ button() }}
        </div>
    </form>
</div>

{% endblock %}

